<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Welcome</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <!--Google material design-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>


  <div class="container">


    <table class="table table-bordered table-hover table-striped w-auto ">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Isbn</th>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">Price</th>
          <th scope="col">
            <a class="btn btn-block btn-outline-success  " role="button" href="/books/create">
              <!-- <img class="img-fluid" alt="update" src="/public/svg/cog.svg">-->
              <i class="material-icons">folder_shared</i>Add New book
            </a>
          </th>
         
        </tr>
      </thead>
      <tbody>
        {{range $index, $book := .}}
        <tr>

          <th scope="row">{{$index}}</th>
          <td>{{$book.Isbn}}</td>
          <td>{{$book.Title}}</td>
          <td>{{$book.Author}}</td>
          <td>{{$book.Price}}</td>
          <td class="col col-auto shrink">
            <a class="btn btn-outline-info " role="button" href="/books/update?isbn={{.Isbn}}">
              <!-- <img class="img-fluid" alt="update" src="/public/svg/cog.svg">-->
              <i class="material-icons">settings</i>Edit
            </a>

            <a class="btn btn-outline-danger" role="button" href="/books/delete/process?isbn={{.Isbn}}">
              <i class="material-icons">delete_forever</i>Delete
            </a>
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>

  </div>












 
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>